.BlogPage{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

@media (max-width: 1220px) {
    .BlogPage{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}
@media (max-width: 899px) {
    .BlogPage{
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
}
@media (max-width: 770px) {
    .BlogPage{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}
.isLoadBlogPage{
    width: 100%;
    height: calc(100% - 40px);
    background-color: rgb(202, 202, 202);
    justify-content: center;
    align-items: center;
}

.view-article{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: top;
    position: static;
}

.loading-control{
    display: block;
    width: 60px;
    height: 45px;
    font-size: 40px;
    position: absolute;
    top: 51px;
    right: 0px;
    background-color: white;
    color: #0c2556;
    padding: 5px 0 0;
}

