@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  }
  
  .app {
    overflow-x: hidden;
  }
  
  p{
    margin-bottom: 0px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0px;
  }

  .loading_container{
    width: 100%;
    height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loader{
    width: 200px;
    height: 200px;
  }